body {
  margin: 0;
  background: #C8E6C9;
}


a {
  margin: 5px;
}

ul {
  list-style: none;
  display: inline;
}

li {
  display: inline;
}


.centered {
  margin-top: 10em;
}





.padding {
  padding: 10px;
}
